*{
    margin: 0;
    padding: 0;
}
.row{
    margin-right: 0px;
    margin-left: 0px;
}
.card{
    background-color: unset;
    border: unset;
}

.backgroung{
    background-image: url('../img/backgroung.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    background-color: #F1F1F1;
}

.navbar{
    margin-right: 40px;
    margin-top: 2%;
    float: right;
    z-index: 3;
}
.navbar ul .nav-item{
    margin-left: 21px;
    font-size: 16px;
    color: #565656;
    font-weight: bold;
    font-family: 'Myriad Pro Regular';
    text-align: right;
    letter-spacing: 2px;
}
.navbar ul .active{
    color: #22a483 !important;
}
.backgroung .card ul li{
    display: inline-flex;
    margin: 0px 33px 0px 35px;
    color: #7d7d7d;
}
.logoBackground .bigLogo{
    width: 22%;
    background-image: url('../img/2.png');
    background-size: cover;
    margin-top: -50px;
}
.backgroung .textOne{
    font-size: 36px;
    letter-spacing: 1px;
    color: #565656;
    font-weight: bold;
    font-family: 'Myriad Pro Semibold';
}
.backgroung .textTwo{
    color: white;
    background-color: #565656;
    padding: 8px 0px 5px 0px;
    font-size: 31px;
    font-family: 'Myriad Pro Semibold';
    line-height: 25px;
    margin: 0% 38%;
    width: max-content;
}
.backgroung .textTwo::before{
    content: "";
    position: relative;
    background-color: #EFEFEF;
    padding: 0px 50px 0px 50px;
    font-size: 10px;
    top: -5px;
}
.backgroung .textTwo::after{
    content: "";
    position: relative;
    background-color: #EFEFEF;
    padding: 0px 50px 0px 50px;
    font-size: 10px;
    top: -5px;
}
.backgroung .textTree{
    color: #22a483;
    padding: 3px 0px;
    font-family: 'Myriad Pro Semibold';
    font-size: 25px;
}
.backgroung .copyright{
    color: #7d7d7d;
    font-size: 16px;
}

@media(max-width: 1200px){
    .backgroung .textTwo{
        margin: 0% 34%;
    }
}
@media(max-width: 1024px){
    .backgroung .textTwo{
        margin: 0% 31%;
    }
}
@media(max-width: 990px){
    .backgroung .textTwo{
        margin: 0% 27%;
    }
}
@media(max-width: 768px){
    .backgroung .textTwo{
        margin: 0% 20%;
    }
}
@media(max-width: 600px){
    .backgroung .textTwo{
        margin: 0% 9%;
    }
}
@media(max-width: 480px){
    .backgroung .textTwo{
        margin: 0% 2%;
    }
}
@media(max-width: 320px){
    .backgroung .textTwo{
        margin: 0% -24%;
    }
}