*{
    margin: 0;
    padding: 0;
}
.row{
    margin-right: 0px;
    margin-left: 0px;
}
.card{
    background-color: unset;
    border: unset;
}

.backgroung{
    background-image: url('../img/backgroung.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    background-color: #F1F1F1;
}

.navbar{
    margin-right: 40px;
    margin-top: 2%;
    float: right;
    z-index: 3;
}
.navbar ul .nav-item{
    margin-left: 21px;
    font-size: 16px;
    color: #565656;
    font-weight: bold;
    font-family: 'Myriad Pro Regular';
    text-align: right;
    letter-spacing: 2px;
}
.navbar ul .active{
    color: #22a483 !important;
}
.backgroung .card ul li{
    display: inline-flex;
    margin: 0px 33px 0px 35px;
    color: #7d7d7d;
}
.logoBackground .bigLogo{
    width: 22%;
    background-image: url('../img/2.png');
    background-size: cover;
    margin-top: -50px;
}
.backgroung .textOne{
    font-size: 36px;
    letter-spacing: 1px;
    color: #565656;
    font-weight: bold;
    font-family: 'Myriad Pro Semibold';
}
.backgroung .textTwo{
    color: white;
    background-color: #565656;
    padding: 8px 0px 5px 0px;
    font-size: 31px;
    font-family: 'Myriad Pro Semibold';
    line-height: 25px;
    margin: 0% 38%;
    width: max-content;
}
.backgroung .textTwo::before{
    content: "";
    position: relative;
    background-color: #EFEFEF;
    padding: 0px 50px 0px 50px;
    font-size: 10px;
    top: -5px;
}
.backgroung .textTwo::after{
    content: "";
    position: relative;
    background-color: #EFEFEF;
    padding: 0px 50px 0px 50px;
    font-size: 10px;
    top: -5px;
}
.backgroung .textTree{
    color: #22a483;
    padding: 3px 0px;
    font-family: 'Myriad Pro Semibold';
    font-size: 25px;
}
.backgroung .copyright{
    color: #7d7d7d;
    font-size: 16px;
}
@media(max-width: 6144px){
    .backgroung .textTwo{
        margin: 0% 47.1%;
    }
} 
/* 33% */
@media(max-width: 4608px){
    .backgroung .textTwo{
        margin: 0% 46.1%;
    }
} 
/* 50% */
@media(max-width: 3072px){
    .backgroung .textTwo{
        margin: 0% 44%;
    }
} 
/* 67% */
@media(max-width: 2304px){
    .backgroung .textTwo{
        margin: 0% 42%;
    }
} 
/* 75% */
@media(max-width: 2048px){
    .backgroung .textTwo{
        margin: 0% 41.1%;
    }
}
/* 80%*/
@media(max-width: 1920px){
    .backgroung .textTwo{
        margin: 0% 40.5%;
    }
} 
/* 90% */
@media(max-width: 1707px){
    .backgroung .textTwo{
        margin: 0% 39%;
    }
} 
@media(max-width: 1536px){
    .backgroung .textTwo{
        margin: 0% 38%;
    }
} 
/* 110% */
@media(max-width: 1396px){
    .backgroung .textTwo{
        margin: 0% 37%;
    }
} 
/* 125% */
@media(max-width: 1229px){
    .backgroung .textTwo{
        margin: 0% 35%;
    }
}
@media(max-width: 1200px){
    .backgroung .textTwo{
        margin: 0% 34%;
    }
}
@media(max-width: 1024px){
    .backgroung .textTwo{
        margin: 0% 31%;
    }
}
@media(max-width: 990px){
    .backgroung .textTwo{
        margin: 0% 27%;
    }
}
@media(max-width: 768px){
    .backgroung .textTwo{
        margin: 0% 20%;
    }
}
@media(max-width: 600px){
    .backgroung .textTwo{
        margin: 0% 9%;
    }
}
@media(max-width: 480px){
    .backgroung .textTwo{
        margin: 0% 2%;
    }
}
@media(max-width: 320px){
    .backgroung .textTwo{
        margin: 0% -24%;
    }
}





/* qui somme nous */
.card .QuiSommeNous img{
    position: absolute;
    top: -4%;
    left: -2%;
    width: 80%;
}
.card .QuiSommeNous p{
    font-size: 22px;
    padding: 3% 25% 0% 0%;
}
.leftSideImg .leftSide{
    position: relative;
    top: 157px;
    left: 41px;
}
/* 25% */
@media(max-width: 6144px){
    .card .QuiSommeNous p{
        font-size: 107px;
    }
    .leftSideImg .leftSide{
        top: 881px;
    } 
}
/* 33% */
@media(max-width: 4608px){
    .card .QuiSommeNous p{
        font-size: 79px;
    }
    .leftSideImg .leftSide{
        top: 694px;
    } 
}
/* 50% */
@media(max-width: 3072px){
    .card .QuiSommeNous p{
        font-size: 52px;
    }
    .leftSideImg .leftSide{
        top: 440px;
    } 
}
/* 67% */
@media(max-width: 2304px){
    .card .QuiSommeNous p{
        font-size: 39px;
    }
    .leftSideImg .leftSide{
        top: 250px;
    } 
}
/* 75% */
@media(max-width: 2048px){
    .card .QuiSommeNous p{
        font-size: 34px;
    }
    .leftSideImg .leftSide{
        top: 227px;
    } 
}
/* 80%*/
@media(max-width: 1920px){
    .card .QuiSommeNous p{
        font-size: 32px;
    }
    .leftSideImg .leftSide{
        top: 187px;
    } 
}
/* 90% */
@media(max-width: 1707px){
    .card .QuiSommeNous p{
        font-size: 28px;
    }
    .leftSideImg .leftSide{
        top: 193px;
    } 
}
/* 110% */
@media(max-width: 1396px){
    .card .QuiSommeNous p{
        font-size: 22px;
    }
    .leftSideImg .leftSide{
        top: 154px;
    } 
}
/* 100% */
@media(max-width: 1536px){
    .card .QuiSommeNous p{
        font-size: 22px;
    }
    .leftSideImg .leftSide{
        top: 157px;
    } 
}
/* 125% */
@media(max-width: 1229px){
    .card .QuiSommeNous p{
        font-size: 19px;
    }
    .leftSideImg .leftSide{
        top: 136px;
    } 
}
/* 150% */
    @media(max-width: 1024px){
        .card .QuiSommeNous p{
            font-size: 16px;
        }
        .leftSideImg .leftSide{
            top: 92px;
        } 
    }
/* 175% */
    @media(max-width: 877px){
        .card .QuiSommeNous p{
            font-size: 13px;
        }
        .leftSideImg .leftSide{
            top: 79px;
        } 
    }
/* 200% */
@media(max-width: 768px){
    .card .QuiSommeNous p{
        font-size: 11px;
    }
    .leftSideImg .leftSide{
        top: 79px;
    } 
}
/* 250% */
@media(max-width: 614px){
    .card .QuiSommeNous p{
        font-size: 8px;
    }
    .leftSideImg .leftSide{
        top: 51px;
    } 
}
/* 300% */
@media(max-width: 512px){
    .card .QuiSommeNous p{
        font-size: 6px;
    }
    .leftSideImg .leftSide{
        top: 35px;
    } 
}
/* 400% */
@media(max-width: 384px){
    .card .QuiSommeNous p{
        font-size: 4px;
    }
    .leftSideImg .leftSide{
        top: 11px;
    } 
}
/* 500% */
@media(max-width: 307px){
    .card .QuiSommeNous p{
        font-size: 3px;
    }
    .leftSideImg .leftSide{
        top: 13px;
    } 
}